<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>{{pageTitle}}</title>
        </head>
        <body>
            {{> header}}
            <h1>Learn more about us on this page!</h1>
            {{> footer}}
        </body>
    </html>