<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>{{pageTitle}}</title>
        </head>
        <body>
            {{> header}}
            <h1>Projects Page</h1>
            <p>This is the project description</p>
            {{> footer}}
        </body>
    </html>